body {
    margin: 0;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
}

header > img {
    height: 50px;
    width: auto;
    float: right;
}

nav-link {
    float: right;
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

main {
    margin-top: 65px;
}